.press-page {
  font-family: Arial, Helvetica, sans-serif;
}

/* HERO */
.press-hero {
  height: 90vh;
  background-size: cover;
  background-position: center;
}

.press-hero-overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8%;
}

.press-tag {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.press-hero h1 {
  font-size: 54px;
  font-weight: 700;
  max-width: 900px;
}

/* BENEFITS */
.press-benefits {
  background-color: #f4e6de;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
  padding: 80px 8%;
}

.section-label {
  color: #c44b1a;
  font-weight: 600;
  font-size: 30px;
}

.press-benefits h2 {
  margin-top: 40px;
  font-size: 40px;
  font-weight: bold;
}

.press-benefits-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.press-benefits-left {
  margin-top: 80px;
}

.benefit-card {
    font-size: 20px;
}

.benefit-card p {
  padding-top: 15px;
}

.benefit-card .icon {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: #d4805f;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .press-benefits {
    grid-template-columns: 1fr;
  }

  .press-benefits-grid {
    grid-template-columns: 1fr 1fr;
  }
}
