.who-we-are {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* HERO */
.who-hero {
  height: 90vh;
  background-image: url("https://img.freepik.com/premium-photo/salad-with-mozzarella-fresh-vegetables-black-wooden-background-top-view-copy-space-your-text_187166-20969.jpg?semt=ais_hybrid&w=740&q=80");
  background-size: cover;
  background-position: center;
  position: relative;
}

.who-hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8%;
  color: rgb(241, 241, 233);
}

.who-breadcrumb {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

.who-hero h1 {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 1px;
}

/* STATEMENT */
.who-statement {
  background: #f4eff5;
  padding: 80px 10%;
}

.who-statement h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.3;
}

/* HISTORY */
.who-history {
  background: #c5532a;
  color: white;
  padding: 80px 10%;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 60px;
}

.history-left h2 {
  font-size: 48px;
  font-weight: 700;
}

.history-left img {
  width: 78%;
  height: 300px;
  border-radius: 20px;
}

.history-right p {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 20px;
}

/* NETWORK */
.who-network {
  background: #fff4ee;
  padding: 80px 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.network-image img {
  width: 100%;
  border-radius: 10px;
}

.network-label {
  color: #c5532a;
  font-weight: 600;
  margin-bottom: 10px;
  display: inline-block;
}

.network-content h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.network-content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 25px;
}

.network-content button {
  padding: 12px 24px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .who-history,
  .who-network {
    grid-template-columns: 1fr;
  }

  .who-hero h1 {
    font-size: 38px;
  }

  .who-statement h2 {
    font-size: 30px;
  }
}
