* {
    padding: 0;
    margin: 0;
}

.navbar-section {
    width: 100%;
    height: 130px;
    /* background-color: aqua; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.nav-logo {
    height: 80px;
    width: 160px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.nav-logo img {
    height: 60px;
    width: 148px;
    cursor: pointer;
}

.nav-li {
    width: 850px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: gray;
    font-weight: 600;
}

.nav-li li {
    list-style: none;
}

.dropdown {
    position: relative;
}

.dropdown span {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 150px;
    text-align: start;
    padding-left: 20px;
    padding-top: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
    border-radius: 5px;
    z-index: 100;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dropdown-menu li {
    padding: 2px;
    cursor: pointer;
    color: black;
}
.dropdown-menu li:hover {
  font-weight: bold;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
/* Buttons */

.nav-btn {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn button {
    border: 1px solid black;
    padding: 10px 5px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

.nav-btn button:hover {
    color: white;
    background-color: black;
}
