* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NAVBAR */
.navbar-section {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: relative;
  z-index: 10;
}

.nav-logo {
  height: 80px;
  width: 160px;
  display: flex;
  align-items: center;
}

.nav-logo img {
  height: 60px;
  width: 148px;
  cursor: pointer;
}

/* NAV LINKS */
.nav-li {
  width: 850px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: gray;
  font-weight: 600;
  list-style: none;
}

.nav-li li {
  cursor: pointer;
}

/* DROPDOWN */
.dropdown {
  position: relative;
}

.dropdown span {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 160px;
  padding: 10px 20px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 100;
}

.dropdown-menu li {
  padding: 5px 0;
  color: black;
}

.dropdown-menu li:hover {
  font-weight: bold;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* BUTTONS */
.nav-btn {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btn button {
  border: 1px solid black;
  padding: 10px 12px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  background: white;
  margin: 2px;
}

.nav-btn button:hover {
  color: white;
  background-color: black;
}

/* HAMBURGER */
.menu-icon {
  display: none;
  cursor: pointer;
}

/* MOBILE MENU OVERLAY */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100vh;
  background-color: white;
  z-index: 999;
  padding: 30px;
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.mobile-menu.active {
  right: 0;
}

.close-icon {
  align-self: flex-end;
  cursor: pointer;
}

.mobile-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
}

.mobile-btn {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mobile-btn button {
  border: 1px solid black;
  padding: 12px;
  border-radius: 5px;
  background: white;
  cursor: pointer;
}

.mobile-btn button:hover {
  background: black;
  color: white;
}

/* MOBILE DROPDOWNS */
.mobile-dropdown span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.mobile-dropdown-menu {
  list-style: none;
  padding-left: 15px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}

.mobile-dropdown-menu li:hover {
    cursor: pointer;
    font-weight: bold;
}


/* RESPONSIVE */
@media (max-width: 1024px) {
  .nav-li,
  .nav-btn {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}
