.stats {
  padding: 100px 8%;
  background: #ffffff;
  text-align: center;
}

.stats-subtitle {
  color: #9b3f12;
  font-weight: 600;
  margin-bottom: 14px;
  display: inline-block;
}

.stats h2 {
  font-size: 56px;
  font-weight: 600;
  color: #222;
  margin-bottom: 70px;
}

/* GRID */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

/* CARD */
.stat-card h3 {
  font-size: 56px;
  font-weight: 700;
  color: #8b3a00;
  margin-bottom: 14px;
}

.stat-card p {
  font-size: 16px;
  color: #333;
  line-height: 1.4;
}

/* RESPONSIVE */
@media (max-width: 1100px) {
  .stats-grid {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
  }
}

@media (max-width: 700px) {
  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .stats h2 {
    font-size: 40px;
  }

  .stat-card h3 {
    font-size: 42px;
  }
}

@media (max-width: 450px) {
  .stats-grid {
    grid-template-columns: 1fr;
  }
}
